button{
    display: inline-block;
    width: 120px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 50%; 
    background-color:burlywood;
}
